html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  height: 100%;
}

#map {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.buttons-container {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.floating-button {
  background-color: #333;
  padding: 7px;
  border-radius: 8px;
  margin: 0 5px;
  color: #F3f3f3;
}

.modal-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.material-icons {
  vertical-align: middle;
}

.leaflet-pane.leaflet-marker-pane .material-icons {
  text-align: center;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-end;
}

.options-content {
  background-color: #353535;
  color: #F5981D;
  width: 100%;
  height: 50%;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tags-container>div {
  border-radius: 5px;
  border: 2px solid #F5981D;
  padding: 2px 5px;
  margin: 2px;
  display: flex;
}

.tags-container span.material-icons {
  font-size: 1em !important;
  margin-right: 5px;
}

.tags-container>div.selected {
  background-color: #443D33;
}

.popup {
  position: fixed;
  display: none;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #353535;
  color: #F5981D;
  padding: 10px;
  border: 1px solid #F5981D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

summary {
  margin: 5px;
  margin-top: 1em;
}

/**/

#trash {
  padding: 0 20px;
}

#trash:hover:after {
  content: 'drag tag here to delete';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  vertical-align: super;
}